{
  "extends":[
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": false
  },
  "overrides": [
    {
      "files": [
        "src/**/*.test.js",
        "__test__/**/*.test.js"
      ],
      "env": {
          "jest": true
      }
    }
  ]
}
