.ant-btn.switch-currencies {
  background: #4CB2D4;
  transform: rotate(90deg);
  border: 1px solid #367ABD;
}

.ant-btn.switch-currencies:hover, .ant-btn.switch-currencies:focus {
  color: #367ABD;
}
