.exchange {
  display: flex;
  flex-direction: row;
}

.exchange>div {
  flex: 1 auto;
}

.exchange .exchange-currency {
  order: 1;
}

.exchange .exchange-amount {
  order: 2;
  text-align: right;
}
