.exchange {
  display: flex;
  flex-direction: row;
}

.exchange>div {
  flex: 1 auto;
}

.exchange .exchange-currency {
  order: 1;
  float: left;
}

.exchange .exchange-amount {
  order: 2;
  text-align: right;
}

.ant-btn {
  background: #367ABD;
  font-size: 1.3rem;
}

.exchange .ant-input-number {
  background: #367ABD;
  color: #ffffff;
  border: 1px solid #367ABD;
}

.js-balance {
  padding: 0 15px;
}
