.currency-selection img {
  width: 22px;
  height: 22px;
}

.currency-option {
  font-size: 1.2rem;
}

.currency-option img {
  width: 20px;
  height: 20px;
}

.currency-selection .ant-btn {
  color: #4CB2D4;
}

.currency-option span{
  margin: 0 0 0 10px;
}

.currency-option span.code{
  width: 40px;
}
