.app-content {
  padding: 50px 0 0 0;
  margin: auto;
}

@media (max-width: 600px) {
  .app-content {
    width: 400px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .app-content {
    width: 550px;
  }
}

@media (min-width: 801px) {
  .app-content {
    width: 700px;
  }
}

.ant-btn {
  color: #ffffff;
  border: 1px solid #367ABD;
}

.ant-btn.exchange-rate {
  color: #4CB2D4;
}

.ant-input-number {
  font-size: 1.5rem;
  width: 175px;
}

.ant-input-number-handler-wrap {
  display: none;
}

.ant-input-number-input {
  text-align: right;
}